body {
    background: url("/img/bg.png") top left no-repeat;
    font-family: Helvetica, Arial, sans-serif;
}

#container {
    width: 750px;
    margin: 0 auto;
    /*background: #FFFFFF;*/
}

#gameboard {
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
}

.header {
    float: left;
    width: 150px;
    text-align: center;
}

.question {
    display: block;
    height: 100px;
    width: 150px;
    font-size: 32px;
    font-weight: bold;
    opacity: 0.8;
}

.header h1 {
    margin-bottom: 25px;
    font-size: 28px;
}

.reveal-modal h1 {
    margin-bottom: 60px;
}

.reveal-modal li {
    margin: 10px 0;
    font-size: 22px;
    text-align: left;
}
